@import "style/_variables.scss";

.home-page {
  height: 100%;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;

  &__content {
    max-width: 40%;
    font-size: 1.8rem;
    margin-top: 25vh;
    z-index: 1;
    position: relative;
  }

  &__cta {
    a:not(:last-child) {
      margin-right: 2rem;
    }

    display: flex;
  }

  &__hands1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
