@import "style/_variables.scss";

.create-reading {
  text-align: center;
  width: 40rem;
  overflow: hidden;

  &__form {
    background-color: $color-fg-dark;
    padding: 1rem;
    box-shadow: $box-shadow;
  }
  .form-field,
  &__datepicker {
    margin-bottom: 1.5rem;
  }
  &__datepicker {
    border-radius: $border-radius;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .rdtPicker {
      background: inherit;
      border: none;
    }
    .rdtActive {
      background-color: $color-primary !important;
    }
  }
}
