@import "style/_variables.scss";
@import "style/_animations.scss";

.main-wrapper {
  min-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  //background-image: url("/assets/images/gluco-bg.png");
  background: $color-bg-dark;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1.5rem solid $color-fg-dark;
}

.request-loader {
  background: $color-fg-dark;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9998;
  animation: fade-in 0.3s ease-in;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.errors {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 50rem;
}

main {
  flex: 1;
}

.bg-curve1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
